.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.card{
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  text-align: start;
  background-color: #3f4146;
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .text-content{
  padding: 15px;
}

.card h2{
  margin: inherit;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
